<main>
    <form action="/artist-search" method="GET">
        <div>
            <input placeholder="Enter the artist" class="" type="text" name="artist" id="artist-input">
            <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>

        </div>
    </form>
</main>